html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars from appearing */
}

#schematicRenderer {
  outline: none; /* Removes the outline by default */
  width: 100vw;
  height: 100vh;
  display: block; /* Removes the default inline behavior of canvas */
}

#schematicRenderer:focus:not(:focus-visible) {
  outline: none; /* Removes the outline for mouse focus, but not keyboard focus */
}

#schematicTitle {
  text-align: center;
  margin-top: 20px;
}
